
/* menu */
 *{
  background-image: url(../imagenes/1s.gif);
  background-size: cover;
}
 
body { 
  /* background: #ccc; */
  font-family: helvetica, arial, serif;
  font-size: 13px;
  text-transform: uppercase;
  text-align: center;
}
 
.wrap {
  display: inline-block;
  -webkit-box-shadow: 0 0 70px #fff;
  -moz-box-shadow: 0 0 70px #fff;
  box-shadow: 0 0 70px #fff;
  margin-top: 40px;
}

/* a little "umph" */
.decor {
  background: #6EAF8D;
  background: -webkit-linear-gradient(left, #CDEBDB 50%, #6EAF8D 50%);
  background: -moz-linear-gradient(left, #CDEBDB 50%, #6EAF8D 50%);
  background: -o-linear-gradient(left, #CDEBDB 50%, #6EAF8D 50%);
  background: linear-gradient(left, white 50%, #6EAF8D 50%);
  background-size: 50px 25%;;
  padding: 2px;
  display: block;
}

a {
  text-decoration: none;
  color: #fff;
  display: block;
}

ul {
  list-style: none;
  position: relative;
  text-align: left;
}

li {
  float: left;
}

/* clear'n floats */
ul:after {
  clear: both;
}

ul:before,
ul:after {
    content: " ";
    display: table;
}

nav {
  position: relative;
  background: #2B2B2B;
  background-image: -webkit-linear-gradient(bottom, #2B2B2B 7%, #333333 100%);
  background-image: -moz-linear-gradient(bottom, #2B2B2B 7%, #333333 100%);
  background-image: -o-linear-gradient(bottom, #2B2B2B 7%, #333333 100%);
  background-image: linear-gradient(bottom, #2B2B2B 7%, #333333 100%);
  text-align: center;
  letter-spacing: 1px;
  text-shadow: 1px 1px 1px #0E0E0E;
  -webkit-box-shadow: 2px 2px 3px #888;
  -moz-box-shadow: 2px 2px 3px #888;
  box-shadow: 2px 2px 3px #888;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

/* prime */
ul.primary li a {
  display: block;
  padding: 20px 30px;
  border-right: 1px solid #3D3D3D;
}

ul.primary li:last-child a {
  border-right: none;
}

ul.primary li a:hover {
  
  color: #000;
}

/* subs */
ul.sub {
  position: absolute;
  z-index: 200;
  box-shadow: 2px 2px 0 #BEBEBE;
  width: 35%;
  display:none;
}

ul.sub li {
  float: none;
  margin: 0;
}

ul.sub li a {
  border-bottom: 1px dotted rgb(185, 48, 48);
  border-right: none;
  color: rgb(0, 0, 0);
  padding: 15px 30px;
}

ul.sub li:last-child a {
  border-bottom: none;
}

ul.sub li a:hover {
  color: #000;
  background: #eeeeee;
}

/* pantalla secundaria*/
ul.primary li:hover ul {
  display: block;
  background: rgb(255, 255, 255);
}

/*mantiene el fondo de la pestaña blanco */
ul.primary li:hover a {
  background: rgb(59, 157, 182);
  color: rgb(10, 10, 10);
  text-shadow: none;
}

ul.primary li:hover > a{
  color: #000;
} 

@media only screen and (max-width: 600px) {
  .decor {
    padding: 3px;
  }
  
  .wrap {
    width: 100%;
    margin-top: 0px;
  }
  
   li {
    float: none;
  }
  
  ul.primary li:hover a {
    background: none;
    color: #8B8B8B;
    text-shadow: 1px 1px #000;
  }

  ul.primary li:hover ul {
    display: block;
    background: #272727;
    color: #fff;
  }
  
  ul.sub {
    display: block;  
    position: static;
    box-shadow: none;
    width: 100%;
  }
  
  ul.sub li a {
    background: #272727;
    border: none;
    color: #8B8B8B;
  }
  
  ul.sub li a:hover {
    color: #ccc;
    background: none;
  }
}
/*finaliza menu*/

/*inicia informacion especifica de evento*/
#imagen{
  float: right;
  border-radius: 244px 0px;
  width: 34%;
  margin: 48px 0px 149px;
  border: 10px outset rgb(0,0,0);
}

#titulo{
  height: 8px 14px;
    float: left;
    border-radius: 105px 0px;
    /* TEXT-ALIGN: center; */
    width: 61%;
    color: red;
    border: solid;
    background: rgb(10, 10, 10,0.7);
    margin: 49px 0px;
    padding: 24px 19px;
}
#texto{
  color: white;
  background: rgb(10, 10, 10,0.7);
  float: left;
  border-radius: 10px;
  width: 64%;
  margin: 22px 0px;
}
.ubicacion:hover{
  color: rgb(253, 249, 249);
  background-color: rgb(255, 8, 0,0.7);
  }
.ubicacion{
  background: rgb(10, 10, 10,0.7);
  color: rgb(235, 20, 20);
  border-radius: 58px;
  border: solid;
  float: left;
  font-size: 27px;
  width: 56%;
  margin: 45px;
  height: 72px;
  padding: 4px 4px;
}
.maps{
  background: red;
  margin: -9px 25px;
}
.caja{
  background: rgb(0,0,0,0.1);
  height: 357px;
  float: left;
  width: 100%;
}
.bandas{
  background: rgb(0,0,0,0.1);
  color: rgb(255, 8, 0);
  width: 40%;
  float: left;
}
#banda {
  width: 32%;
}
.ull{
  border: solid;
    padding: 10px 113px;
}
#prohi{
  background: rgb(0,0,0,0.1);
  color: rgb(255, 8, 0);
  width: 50%;
    float: right;
}
#fecha{
  float: left;
}
#hora{
  float: left;
}
.caja1{
  background: rgb(0,0,0,0.1);
  height: 52px;
    float: left;
    width: 100%;
}
#fecha:hover{
  color: rgb(8, 8, 8);
  background-color: yellow;
  border: solid rgb(31, 235, 31);
  }
#fecha{
  border-radius: 15px  91px;
  background-color: gold;
  width: 49%;
  border: solid red; 
  background: rgba(15, 185, 207, 0.6);
}
#hora:hover{
  color: rgb(8, 8, 8);
  background-color: rgb(231, 109, 53);
  border: solid rgba(43, 31, 216, 0.76);
  }
#hora{
  border-radius: 40px 15px;
  background-color: rgb(0, 247, 255);
  width: 49%;
   border: solid rgb(234, 0, 255); 
  background: rgb(30, 255, 0,0.6);
}

.ff{
  background: rgb(0,0,0,0.1);
  width: 100%;
  margin: 0px 243px;
  color: white;
  
}
/* menu final de informacion*/
.informacion {
  background: rgb(0,0,0,0.1);
  float: left;
  font-size: 27px;
  width: 56%;
  margin: 45px;
  height: 72px;
  padding: 4px 4px;
}

/*finaliza informacion especifica de evento*/
/*# sourceMappingURL=evento1s.css.map */
